extends layout

block content
  h1 Here you will see some guide.
  h1 #{characters[guide.character_id].name}
  section
    if guide.guide_cards1_id  != "null"
      div #{cards[guide.guide_cards1_id.basecard_id].name} 
      div #{cards[guide.guide_cards1_id.update1_id].name} 
      div #{cards[guide.guide_cards1_id.update2_id]} 
      div #{cards[guide.guide_cards1_id.update3_id]} 
    if guide.guide_cards2_id  != "null"
      div #{cards[guide.guide_cards2_id.basecard_id].name} 
      div #{cards[guide.guide_cards2_id.update1_id].name} 
      div #{cards[guide.guide_cards2_id.update2_id]} 
      div #{cards[guide.guide_cards2_id.update3_id]} 
    if guide.guide_cards3_id  != "null"
      div #{cards[guide.guide_cards3_id.basecard_id].name} 
      div #{cards[guide.guide_cards3_id.update1_id].name} 
      div #{cards[guide.guide_cards3_id.update2_id]} 
      div #{cards[guide.guide_cards3_id.update3_id]} 


  br
  p #{guidejson}
